# -----------------------------
# 📦 Java / Gradle
# -----------------------------
*.class
*.jar
*.war
*.log
target/
.gradle              # Gradle project-specific cache
build/               # Gradle build output

# -----------------------------
# ⚙ Node.js / Next.js
# -----------------------------
node_modules/
.next/
dist/
.env*                # 모든 환경변수 파일 (.env, .env.local 등)

# -----------------------------
# 🧠 VSCode
# -----------------------------
.vscode/

# -----------------------------
# 🖥️ OS 별 시스템 파일
# -----------------------------
.DS_Store            # macOS
Thumbs.db            # Windows
